body {
  background-color: rgb(144, 140, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 120%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-position: bottom;
  background-size: cover;
}

.modal {
  top: 20px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  font-style: italic;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 20px 25px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  box-shadow: 0 0 100px 10px rgba(0, 0, 0, .2);;
}

.modal.activate {
  opacity: 1;
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: #000000c2;
  border-radius: 50px;
  color: #fff;
}

.card .city, .temperature {
  margin-bottom: 0;
}

.card span {
  display: block;
}

.card .search {
  margin: 50px;
}

.card .search-bar {
  border: none;
  background-color: #353535;
  outline: none;
  border-radius: 30px;
  width: calc(100% - 120px);
  margin-right: 10px;
  height: 55px;
  color: #fff;
  font-size: 110%;
  padding: 0 1em;
  transition: .2s ease-in-out;
}

.card .search-bar:focus {
  background-color: #424242;
}

.card .search button {
  background-color: #353535;
  border: none;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.card .search button:hover {
  background-color: #424242;
}

.card .weather.loaded {
  padding: 0 1em;
  margin: 50px;
}

.card .weather.loading {
  display: none;
}

.weather .date {
  font-weight: 600;
}

.weather .description-wrapper {
  display: flex;
  align-items: center;
  margin-left: -15px;
}