body {
  background-color: rgb(144, 140, 140);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 120%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.card {
  width: 100%;
  max-width: 500px;
  background-color: #000000b6;
  border-radius: 50px;
  color: #fff;
  margin: 0 0 100px 0;
}

.card .city, .temperature {
  margin-bottom: 0;
}

.card span {
  display: block;
}

.card .search {
  margin: 50px;
}

.card .search-bar {
  border: none;
  background-color: #353535;
  outline: none;
  border-radius: 30px;
  width: calc(100% - 120px);
  margin-right: 10px;
  height: 55px;
  color: #fff;
  font-size: 110%;
  padding: 0 1em;
  transition: .2s ease-in-out;
}

.card .search-bar:focus {
  background-color: #424242;
}

.card .search button {
  background-color: #353535;
  border: none;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.card .search button:hover {
  background-color: #424242;
}

.card .weather.loaded {
  padding: 0 0.3em;
  margin: 50px;
}

.card .weather.loading {
  display: none;
}

.weather .description-wrapper {
  display: flex;
  align-items: center;
}